<configuration>

	<timestamp key="TIME_BY_SECOND" datePattern="yyyy-MM-dd_HH.mm.ss"/>
	<timestamp key="TIME_BY_DAY" datePattern="yyyy-MM-dd"/>
	<timestamp key="TIME_BY_MONTH" datePattern="yyyy-MM"/>
	
	<property name="LOG_DATEFORMAT_PATTERN" value="HH:mm:ss.SSS"/>
	<property name="LOG_LEVEL_PATTERN" value="%5p"/>
	<property name="LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} --- %-40.40logger{39} : %m%n"/>
	
	<property name="LOG_DIR_BASE" value="${user.home}/team2073/eagleforce-robot-common/logs"/>
	<property name="LOG_DIR_DAILY" value="${LOG_DIR_BASE}/per-day"/>
	<property name="LOG_DIR_SESSION" value="${LOG_DIR_BASE}/per-session"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_BY_SECOND" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR_SESSION}/${TIME_BY_DAY}/session-log-${TIME_BY_SECOND}.log</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE_BY_SECOND"/>
	</root>

	<logger name="com.team2073" level="DEBUG" />

	<!--<logger name="com.team2073.common.camera" level="TRACE" />-->
	<!--<logger name="com.team2073.common.command" level="TRACE" />-->
	<!--<logger name="com.team2073.common.config" level="TRACE" />-->
	<!--<logger name="com.team2073.common.controller" level="TRACE" />-->
	<!--<logger name="com.team2073.common.controlloop" level="TRACE" />-->
	<!--<logger name="com.team2073.common.dev" level="TRACE" />-->
	<!--<logger name="com.team2073.common.drive" level="TRACE" />-->
	<!--<logger name="com.team2073.common.event" level="TRACE" />-->
	<!--<logger name="com.team2073.common.mediator" level="TRACE" />-->
	<!--<logger name="com.team2073.common.motionprofiling" level="TRACE" />-->
	<!--<logger name="com.team2073.common.objective" level="TRACE" />-->
	<!--<logger name="com.team2073.common.periodic" level="TRACE" />-->
	<!--<logger name="com.team2073.common.position" level="TRACE" />-->
	<!--<logger name="com.team2073.common.robot" level="TRACE" />-->
	<!--<logger name="com.team2073.common.smartdashboard" level="TRACE" />-->
	<!--<logger name="com.team2073.common.speedcontroller" level="TRACE" />-->
	<!--<logger name="com.team2073.common.subsys" level="TRACE" />-->
	<!--<logger name="com.team2073.common.trigger" level="TRACE" />-->
	<!--<logger name="com.team2073.common.util" level="TRACE" />-->

</configuration>